section.our-advantages__wrapper
    ul.our-advantages
        li.our-advantages__list
            span.our-advantages__list-title   Опытные сотрудники
            span.our-advantages__list-description
                | Все сотрудники имеют большой стаж работы, профильное образование
                |  и постоянно повышают квалификацию

        li.our-advantages__list.our-advantages__list--personal
            span.our-advantages__list-title  Индивидуальный поход
            span.our-advantages__list-description
                | Все сотрудники имеют большой стаж работы, профильное образование
                |  и постоянно повышают квалификацию

        li.our-advantages__list.our-advantages__list--money
            span.our-advantages__list-title  Гибкое ценообразование
            span.our-advantages__list-description
                | Вы платите только за оказанные услуги.
