.page-header__wrapper
    .page-header
        include ../main-logo/main-logo.pug
        include ../main-nav/main-nav.pug
        .page-header__contacts
            a(href="tel:+78121234567") +7 (812) 123-45-67
            | М. Владимирская, ул. Правды дом 1
    h1.page-header__title БУХГАЛТЕРСКИЕ И ЮРИДИЧЕСКИЕ УСЛУГИ
    .page-header__timetable
        include ../our-advantages/our-advantages.pug
        include ../application-form/application-form.pug

