.information-figures__wrapper
    section.information-figures
        ul.information-figures__list
         li.information-figures__list-item
            span.information-figures__list-figures 7
            span.information-figures__list-information лет на рынке

         li.information-figures__list-item.information-figures__list-item--company
            span.information-figures__list-figures 30
            span.information-figures__list-information компаний

         li.information-figures__list-item.information-figures__list-item--users
             span.information-figures__list-figures 5000+
             span.information-figures__list-information клиентов

         li.information-figures__list-item.information-figures__list-item--like
             span.information-figures__list-figures 16
             span.information-figures__list-information дипломов
