.your-benefit__wrapper
    .your-benefit
            ul.your-benefit__list
                li
                    span.your-benefit__title Что вы получаете, обратившись к нам:
                li
                    span.your-benefit__list-title Качественное обслуживание
                    span.your-benefit__list-content Внедрили европейские снандарты обслуживания клиентов.
                li
                    span.your-benefit__list-title Внимание к деталям
                    span.your-benefit__list-content Внедрили европейские снандарты обслуживания клиентов.
                li
                    span.your-benefit__list-title Качественное обслуживание
                    span.your-benefit__list-content Внедрили европейские снандарты обслуживания клиентов.
                li
                    span.your-benefit__list-title Качественное обслуживание
                    span.your-benefit__list-content Внедрили европейские снандарты обслуживания клиентов.
