.questions__wrapper
    .questions
        .questions__title Остались вопросы?
        .questions__description Позвоните по телефону +7 (812) 93-117-94 или оставьте заявку:
        a.questions__btn(href="javascript:void(0);") Получить выгодное предложение
