.services
    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Регистрация ООО и ИП
        span.services__service-content Подробное описание проекта, интересные факты.
        a(href="#").btn.btn--service Перейти

    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title 3 НДФЛ
        span.services__service-content Подробное описание проекта, интересные факты.
        a(href="#").btn.btn--service Перейти

    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Бухгалтерское обслуживание
        span.services__service-content Подробное описание проекта, интересные факты.
        a(href="#").btn.btn--service Перейти

    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Разовые услуги
        span.services__service-content Подробное описание проекта, интересные факты.
        a(href="#").btn.btn--service Перейти

    .services__service.services__service--50
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Разовые услуги
        span.services__service-content Подробное описание проекта, интересные факты.
        a(href="#").btn.btn--service Перейти

    .services__service.services__service--50
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Разовые услуги
        span.services__service-content Подробное описание проекта, интересные факты.
        a(href="#").btn.btn--service Перейти
