.services
    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Регистрация ООО и ИП
        a(href="#").services__service-btn Перейти

    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title 3 НДФЛ
        a(href="#").services__service-btn Перейти

    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Бухгалтерское обслуживание
        a(href="#").services__service-btn Перейти

    .services__service
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Разовые услуги
        a(href="#").services__service-btn Перейти

    .services__service.services__service--50
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Разовые услуги
        a(href="#").services__service-btn Перейти

    .services__service.services__service--50
        .services__service-img(style="background-image: url('../img/4.jpg')")
        span.services__service-title Разовые услуги
        a(href="#").services__service-btn Перейти
