div.other-nav__wrapper
    nav.other-nav
        ul.other-nav__list
            li.other-nav__link
                a(href='#') Главная
            li.other-nav__link
                a(href='#', title='О нас') О нас
            li.other-nav__link
                a(href='#', title='Физическим лицам') Физическим лицам
                ul.other-nav__list
                    li.other-nav__link
                        a(href='#', title='3 НДФЛ') 3 НДФЛ
                        ul.other-nav__list
                            li.other-nav__link
                                a(href='#', title='ЧТО ТАКОЕ ФОРМА 3 НДФЛ?').
                                    ЧТО ТАКОЕ ФОРМА 3 НДФЛ?
                            li.other-nav__link
                                a(href='#', title='Обязанность или право?').
                                    Обязанность или право?
                            li.other-nav__link
                                a(href='#', title='Необходимые документы').
                                    Необходимые документы
                            li.other-nav__link
                                a(href='#', title='Имущественный вычет для пенсионеров').
                                    Имущественный вычет для пенсионеров
                            li.other-nav__link
                                a(href='#', title='Заполнить Самостоятельно').
                                    Заполнить Самостоятельно
                            li.other-nav__link
                                a(href='#', title='Прайс').
                                    Прайс
                    li.other-nav__link
                        a(href='#', title='Прочие услуги для ФЛ').
                            Прочие услуги для ФЛ
            li.other-nav__link
                a(href='#', title='ЮРИДИЧЕСКИМ ЛИЦАМ').
                    ЮРИДИЧЕСКИМ ЛИЦАМ
                ul.other-nav__list
                    li.other-nav__link
                        a(href='#', title='Юридические').
                            Юридические
                        ul.other-nav__list
                            li.other-nav__link
                                a(href='#', title='Госрегистрация фирм и ИП').
                                    Госрегистрация фирм и ИП
                            li.other-nav__link
                                a(href='#', title='Консультации по налогообложению').
                                    Консультации по налогообложению
                    li.other-nav__link
                        a(href='#', title='Тарифы') Тарифы
                        ul.other-nav__list
                            li.other-nav__link
                                a(href='#', title='Разовые услуги').
                                    Разовые услуги
                            li.other-nav__link
                                a(href='#', title='Тариф ').
                                    Тариф "Эконом"
                            li.other-nav__link
                                a(href='#', title='Тариф ').
                                    Тариф "Бизнес"
                            li.other-nav__link
                                a(href='#', title='Тариф ').
                                    Тариф "Конструктор"
            li.other-nav__link
                a(href='#') Контакты
