.reviews__wrapper
    .reviews
        .reviews__title ОТЗЫВЫ НАШИХ КЛИЕНТОВ
        .reviews__carusel
            .div
                .reviews__review
                    p.reviews__review-content
                        |Очень быстро выполнили заказ, все в срок, и как положено.
                        |В дальнейшем только к вам и буду обращаться. Большое спасибо вам!
                        |Друзьям буду вас рекомендовать.
                    .reviews__review-user
                        .reviews__review-img( style="background-image: url('img/pika.png')")
                        .reviews__review-name Анна Иванова
                        .reviews__review-occupation повар
            .div
                .reviews__review
                    p.reviews__review-content
                        | Очень быстро выполнили заказ, все в срок, и как положено.
                        | В дальнейшем только к вам и буду обращаться. Большое спасибо вам!
                        | Друзьям буду вас рекомендовать.
                    .reviews__review-user
                        .reviews__review-img( style="background-image: url('img/pika.png')")
                        .reviews__review-name Анна Иванова
                        .reviews__review-occupation повар
            .div
                .reviews__review
                    p.reviews__review-content
                        | Очень быстро выполнили заказ, все в срок, и как положено.
                        | В дальнейшем только к вам и буду обращаться. Большое спасибо вам!
                        | Друзьям буду вас рекомендовать.
                    .reviews__review-user
                        .reviews__review-img( style="background-image: url('img/pika.png')")
                        .reviews__review-name Анна Иванова
                        .reviews__review-occupation повар
            .div
                .reviews__review
                    p.reviews__review-content
                        | Очень быстро выполнили заказ, все в срок, и как положено.
                        | В дальнейшем только к вам и буду обращаться. Большое спасибо вам!
                        | Друзьям буду вас рекомендовать.
                    .reviews__review-user
                        .reviews__review-img( style="background-image: url('img/pika.png')")
                        .reviews__review-name Анна Иванова
                        .reviews__review-occupation повар
            .div
                .reviews__review
                    p.reviews__review-content
                        | Очень быстро выполнили заказ, все в срок, и как положено.
                        | В дальнейшем только к вам и буду обращаться. Большое спасибо вам!
                        | Друзьям буду вас рекомендовать.
                    .reviews__review-user
                        .reviews__review-img( style="background-image: url('img/pika.png')")
                        .reviews__review-name Анна Иванова
                        .reviews__review-occupation повар
            .div
                .reviews__review
                    p.reviews__review-content
                        | Очень быстро выполнили заказ, все в срок, и как положено.
                        | В дальнейшем только к вам и буду обращаться. Большое спасибо вам!
                        | Друзьям буду вас рекомендовать.
                    .reviews__review-user
                        .reviews__review-img( style="background-image: url('img/pika.png')")
                        .reviews__review-name Анна Иванова
                        .reviews__review-occupation повар