.team__wrapper
    .team
        .team__title НАША КОМАНДА
        .team__description Профессионалы своего дела
        .team__workers
            .team__workman
                img.team__workman-img( src="img/e.jpg" )
                .team__workman-info
                    span.team__workman-name Татьяна Дяченко
                    span.team__workman-post Генеральный директор
                    span.team__workman-about
                        |Более 20 лет опыта продаж в интернете, владелец собственного прибыльного
                        |  бизнеса. Тренирует более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен


            .team__workman
                img.team__workman-img( src="img/e.jpg" )
                .team__workman-info
                    span.team__workman-name Татьяна Дяченко
                    span.team__workman-post Генеральный директор
                    span.team__workman-about
                        |Более 20 лет опыта продаж в интернете, владелец собственного прибыльного
                        |  бизнеса. Тренирует более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен