.maps__wrapper
    .maps
        .maps__title Наш адрес
        .maps__description Санкт-Петербург, ул. Правды д.1/11
    .maps__ya
        script( type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=vjk1mbw-GYTRTJYErV2r8-agADH03ggL&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")