.how-we-work__wrapper
    .how-we-work
        .how-we-work__title КАК МЫ РАБОТАЕМ
        .how-we-work__description Шаг за шагом
        .how-we-work__steps
            .how-we-work__step
                .how-we-work__step-title Звонок
                .how-we-work__step-description Вы звоните нам, и мы грамотно консультируем вас по вашему вопросу.
            .how-we-work__step
                .how-we-work__step-title Заказ
                .how-we-work__step-description Ознакомившись с нашим прайсом и получив консультацию, вы оформляете заказ.
            .how-we-work__step
                .how-we-work__step-title Договор
                .how-we-work__step-description Мы заключаем договор, в котором прописаны условия и обязанности обеих сторон.
            .how-we-work__step
                .how-we-work__step-title Внедрение
                .how-we-work__step-description Наши квалифицированные специалисты внедряют в ваше  решение.
