.our-rates{
  padding:                                      20px;
  text-align:                                   center;
  width:                                        100%;
  max-width:                                    1200px;
  margin:                                       0 auto;
  &__title{
    &:extend(.title);
  }
  &__description{
    font-size:                                  @text-size-l;
    padding-bottom:                             20px;
  }

  &__wrapper{
    background-color:                            @gray-light;
    float:                                       left;
    width:                                       100%;
  }

  &__rates{
    max-width:                                  1200px;
    margin:                                     0 auto;
    display:                                    flex;
    flex-wrap:                                  wrap;
    justify-content:                            space-between;
  }

  &__rate{
    margin:                                     15px 0 0;
    color:                                      rgb(12, 10, 10);
    border-radius:                              5px;
    border:                                     6px solid;
    border-color:                               rgb(122, 158, 184);
    background-color:                           @gray-light;
    width:                                      100%;
    float:                                      left;

    &:nth-child(2){
      border-color:                             rgb(122, 184, 132);
      float: right;
    }

    &:nth-child(3){
      border-color:                             rgb(184, 122, 122);
      float: left;
    }

    &:nth-child(4){
      float: right;
    }

    @media (min-width: 768px) {
      width:                                    43%;
    }

    @media (min-width: 1024px) {
      width:                                    24%;
    }
  }

  &__rate-title{
    font-weight:                                600;
    background-color:                           #c9ced5;
    padding:                                    20px;

    &--two{
      background-color:                         #c9d5c8
    }

    &--three{
      background-color:                         #d9c5c5
    }
  }

  &__list{
    li{
      background-color:                         @gray-light;
      border-bottom:                            1px solid #fff;
      padding:                                  12px 0;

      &:last-child{
        border-bottom:                          none;
      }
    }
  }

  &__btn{
    margin:                                     10px auto;
    max-width:                                  160px;
    padding:                                    7px 10px;

  }
}