.our-rates__wrapper
    .our-rates
        .our-rates__title ТАРИФЫ БУХГАЛТЕРСКОГО ОБСЛУЖИВАНИЯ
        .our-rates__description Лучшее соотношение цены и качества
        section.our-rates__rates
            article.our-rates__rate
                .our-rates__rate-title.our-rates__rate-title--one Экономный
                ul.our-rates__list
                    li 4000 рублей
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                a.our-rates__btn.btn.btn--one(href="javascript:void(0);") Отправить заявку!

            article.our-rates__rate
                .our-rates__rate-title.our-rates__rate-title--two Стандарт
                ul.our-rates__list
                    li 4000 рублей
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                a.our-rates__btn.btn.btn--two(href="javascript:void(0);") Отправить заявку!

            article.our-rates__rate
                .our-rates__rate-title.our-rates__rate-title--three Бизнес
                ul.our-rates__list
                    li 4000 рублей
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                a.our-rates__btn.btn.btn--three(href="javascript:void(0);") Отправить заявку!

            article.our-rates__rate
                .our-rates__rate-title.our-rates__rate-title--four  Конструктор
                ul.our-rates__list
                    li 4000 рублей
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                    li Быстро и качественно
                a.our-rates__btn.btn.btn--one(href="javascript:void(0);") Отправить заявку!

