nav.main-nav
    ul.main-nav__list
        li.main-nav__link
            a(href="#") О НАС
        li.main-nav__link
            a(href="#") Физическим лицам
        li.main-nav__link
            a(href="#") Юридическим лицам
        li.main-nav__link
            a(href="#") Контакты
    span#main-nav__burger.main-nav__burger(onclick="burgerToggl()")