nav.main-nav
    ul.main-nav__list
        li.main-nav__link
            a(href="#") Услуги для физических лиц
        li.main-nav__link
            a(href="#") Услуги для юридическич лиц
        li.main-nav__link
            a(href="#") Контакты
    span#main-nav__burger.main-nav__burger(onclick="burgerToggl()")