.main-nav{
  display:                        block;
  position:                       relative;
  font-family:                    @font-family-h;
  max-width:                      1200px;
  margin:                         0 15px;
  text-align:                     right;

  @media (min-width: 1200px) {
    margin:                       0  auto;
  }

  &__wrapper{
    padding:                     10px 0;
    position:                    relative;
    z-index:                     100;
    width:                       100%;
  }

  &__list{
    color:                        #fff;
    font-size:                    @text-size;
    text-transform:               uppercase;
    font-weight:                  700;
    letter-spacing:               2px;
    display:                      none;
    flex-direction:               column;

    @media (min-width: 1024px) {
      display:                    flex;
      text-align:                 center;
      justify-content:            space-between ;
      flex-direction:             row;
    }
  }

  &__link {
    border-radius: 0;
    font-weight: 100;
    margin: 0 10px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  &__burger{
    display:                      inline-block;
    width:                        25px;
    height:                       25px;
    background-image:             url('@{img-path}icon-burger.png');
    align-self:                   center;
    cursor:                       pointer;
    @media (min-width: 1024px) {
      display:                    none;

    }
  }
}