.main-nav{
  display:                        inline-block;
  font-family:                    @font-family-h;
  height:                         59px;
  margin:                         0 20px;
  float:                          right;

  @media (min-width: 768px) {
    margin: 20px 0;
  }

  &__list{
    color:                        #fff;
    font-size:                    @text-size;
    text-transform:               uppercase;
    font-weight:                  700;
    letter-spacing:               2px;
    display:                      none;

    @media (min-width: 1200px) {
      display:                    block;
      text-align:                 center;
      padding-top:                10px;
    }
  }

  &__link{
    display:                      inline-block;
    margin:                       5px 89px;
    padding:                      5px;

    &:hover{
      color:                      #3e8047;
    }

    &:first-child{
      margin-left:               0;
    }
    &:last-child{
      margin-right:              0;
    }

    &> a{
      text-decoration: underline;
    }

  }

  &__burger{
    display:                      block;
    width:                        25px;
    height:                       25px;
    background-image:             url('@{img-path}icon-burger.png');
    align-self:                   center;
    cursor:                       pointer;
    @media (min-width: 1200px) {
      display:                    none;

    }
  }
}