.countdown-action__wrapper
    .countdown-action
        .countdown-action__title ОСТАВЬТЕ ЗАЯВКУ
        .countdown-action__description и получите уникальное предложение для вашего бизнеса, которое увеличит его оборот в 2 раза!
        .countdown-action__togo До конца акции осталось:
        .countdown-action__countdown
           .countdown
