doctype html
html(lang="ru")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    head
        title Лэкс СПБ
    body
        include ../page-header/page-header.pug
        block content
        include ../page-footer/page-footer.pug
