section.application-form
    .application-form__title Бесплатная консультация
    label.application-form__label
        span.star Имя
        input.application-form__input(type="text")
        span.star Телефон
        input.application-form__input(type="text")
        span.star Тема
        select.application-form__input
            option 3 НДФЛ
            option Налогообложение
            option Бухгалтерский учет
        a.application-form__btn.btn.btn--form(href="javascript:void(0);") Записаться


