section.application-form
    .application-form__title Бесплатная консультация
    label.application-form__label
        span.star Имя
        input.application-form__input(type="text")
        span.star E-mail
        input.application-form__input(type="text")
        span.star Телефон
        input.application-form__input(type="text")
        a.application-form__btn(href="javascript:void(0);") Записаться

