extends blocks/layouts/head-foot.pug
block content
    include blocks/information-figures/information-figures.pug
    include blocks/our-services/our-services.pug
    include blocks/action/action.pug
    include blocks/our-rates/our-rates.pug
    include blocks/how-we-work/how-we-work.pug
    include blocks/your-benefit/your-benefit.pug
    include blocks/reviews/reviews.pug
    include blocks/questions/questions.pug