extends blocks/layouts/otherLayouts.pug
block content
    .other__wrapper
        include blocks/other-nav/other-nav.pug
        .other
            #body
                h1 Государственная регистрация фирм и ИП
                h2 Регистрация юридических лиц
                | Процедура регистрации нового юридического лица регламентируется Гражданским Кодексом РФ и Федеральным Законом от 08.08.2001 г. № 129-ФЗ «О государственной регистрации юридических лиц». Процесс регистрации осуществляется по следующей схеме.
                ol
                    li
                        | Подготовка учредительных и иных документов, которые необходимо представить в регистрирующий орган.
                    li
                        | Открытие в банке временного (накопительного счета), на который вносится уставный капитал, если он формируется за счет денежных средств.
                    li Регистрация юридического лица с постановкой на учет в налоговом органе.
                    li Изготовление печати.
                    li Постановка на учет во внебюджетных фондах и органах статистики.
                    li Открытие расчетного счета юридического лица
                h2 Регистрация индивидуальных предпринимателей
                | Регистрация индивидуального предпринимателя (также до сих пор употребляется понятие – регистрация ПБОЮЛ) – один из самых быстрых и простых способов официально вступить в ряды бизнесменов. Процесс регистрации ИП осуществляется по следующей схеме:
                ol
                    li
                        | Подготовка пакета документов, которые необходимо представить в регистрирующий орган
                    li Регистрация Индивидуального предпринимателя – выдача Свидетельства
                    li Изготовление печати (если нужно)
                    li Постановка на учет во внебюджетных фондах и органах статистики
                    li Открытие расчетного счета индивидуального предпринимателя (если нужно)
                a(href='http://lexx.spb.ru/reg_ip_ooo.php')
                    | В чем отличие ООО от ИП? Когда выгоднее регистрировать ООО (или ЗАО), а когда ИП?
                h1 Прайс на услуги по регистрации
                | Клиент сам может выбрать перечень услуг, который ему необходим, и не переплачивать за ненужные ему услуги. Ниже приводится прайс-лист с перечислением видов услуг и цен.
                table#table(border='1')
                    tbody
                        tr.top
                            th Вид услуги
                            th Что входит
                            th Цена
                        tr
                            td Составление учредительных документов для ООО
                            td
                                | Составление УСТАВА ООО, заявления на регистрацию, решения о создании (или протокол), все заявления для налоговой, подбор ОКВЭДов, составление квитанции на госпошлину.
                                br
                                br
                                | 5000,00 руб. за комплект, если Устав разрабатывается индивидуально.
                            td 3000,00 руб за комплект, если Устав типовой,
                        tr.odd
                            td Подготовка комплекта документов по регистрации/закрытии ИП
                            td Заявление, подбор ОКВЭДов, составление квитанции на госпошлину
                            td 2000,00/1000,00 за комплект.
                        tr.even
                            td.type(rowspan='2')
                                | Консультация о порядке предоставления документов в МИ ФНС (если Клиент сам подает документы а МИ ФНС)
                            td.include При заказе комплекта учредительных документов
                            td.bkprice БЕСПЛАТНО
                        tr.even
                            td.include В остальных случаях
                            td.bkprice 500,00 руб.
                        tr.odd
                            td.type(rowspan='2') Подача и получение документов в МИ ФНС
                            td.include МИ ФНС № 15
                            td.bkprice 2000,00 руб
                        tr.odd
                            td.include Инспекции в Ленобласти
                            td.bkprice 3000,00 руб + транспортные расходы
                        tr.even
                            td.type(rowspan='3') Помощь в открытии расчетного счета
                            td.include Помощь в выборе банка (консультация)
                            td.bkprice 1000,00 руб.
                        tr.even
                            td.include Подготовка документов
                            td.bkprice 1500,00 руб.
                        tr.odd
                            td.type Постановка на учет во внебюджетных фондах и органах статистики
                            td.include
                                | Если при регистрации Вам не выдали необходимые свидетельства, то заказываем документы и получаем их
                            td.bkprice по договоренности
                | Помимо наших услуг Вы оплачиваете (ООО):
                ol
                    li
                        | госпошлину за регистрацию – 
                        span 4000,00 руб.
                    li
                        | услуги нотариуса (заявление) – 
                        span 400,00 - 600,00 руб.
                    li
                        | услуги нотариуса (доверенность)- 
                        span 400,00 - 600,00 руб.
                    li
                        | сбор за копии учредительных документов – 
                        span 200,00 руб. за копию.
                | Помимо наших услуг Вы оплачиваете (ИП):
                ol
                    li
                        | госпошлину за регистрацию – 
                        span 800,00 руб.
                    li
                        | услуги нотариуса (заявление) – 
                        span 400,00 - 600,00 руб.
                    li
                        | услуги нотариуса (доверенность)- 
                        span 400,00 - 600,00 руб.
                | Получить 
                em бесплатную консультацию
                |  Вы можете в нашей группе ВКонтакте: 
                em
                    a(href='http://vkontakte.ru/topic-18153147_22840463') БЕСПЛАТНЫЕ консультации начинающим бизнесменам (и вуменам тоже !!!)
