extends blocks/layouts/otherLayouts.pug
block content
    .other__wrapper
        include blocks/other-nav/other-nav.pug
        .other
                include blocks/team/team.pug
                include blocks/reviews/reviews.pug
